@tailwind base;
@tailwind components;
@tailwind utilities;

.picture1 {
  background: url("../public/Me.jpg") center center no-repeat;
  background-size: cover;
}
@media only screen and (min-width: 1024px) {
  .picture1 {
    position: absolute;
  }
}
